h1 {
    text-align: center;
    text-shadow: 2px 2px 1px silver;
}

button {
    margin-top: 1%;
    margin-right: 15px;
}

.guzik {
    text-align: center;
}

.guzik1 {
    background-color: aqua;
    border-radius: 10%; 
}

.guzik2 {
    background-color: red;
    color: white;
    border-radius: 10%;
}